#addressForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    justify-content: center;
    background-color: white;
    height: fit-content;
    padding: 24px;
}

#addressForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
}

#addressForm input {
    height: 30px;
    width: 95%;
    font-size: 16px;
    font-weight: 500;
}

#addressForm input[type="radio"] {
    width: 18px;
    height: 18px;
}

#addressForm input[type="radio"] + label {
   display: inline;
   margin-bottom: 0;
   font-weight: 500;
   font-size: 16px;
}

#addressForm div {
    margin-block: 12px;
    width: 90%;
}

.btnAddAddress {
    width: 80%;
    border-radius: 12px;
    height: 48px;
    background-color: var(--accent-color);
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    max-width: 480px;
    border: none;
}

#addressForm .addressTypes {
    display: flex;
    gap: 20px;
}

#addressForm .addressTypes > div {
    display: flex;
    align-items: center;
    width: unset;
    margin-block: unset;
}

.error {
    color: red;
    margin-block: 4px;
    height: 22px;
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    
    #addressForm {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: auto;
        width: unset;
    }

    #addressForm div {
        width: 40%;
    }

}