.h1 {
    font-size: 28px;
    margin-block: 8px;
}

#productForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    justify-content: center;
    background-color: #EFEEEE;
    height: fit-content;
    padding-block: 8px;
}

#productForm .fields {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 12px;
    /* align-items: center; */
}

#productForm label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    flex-basis: 28%;
    text-align: end;
}

#productForm .btnImageUpload {
    display: flex;
    background-color: #D9D9D9;
    margin-bottom: unset;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 14px;
    padding: 12px;
    width: 120px;
    min-height: 120px;
    height: 100%;
    justify-content: space-evenly;
    align-self: flex-start;
    box-sizing: border-box;
}

.btnImageUpload h2 {
    font-size: 14px;
    margin-block: 0;
}

.btnImageUpload img {
    max-width: 80%;
}

#productForm input,
#productForm textarea {
    height: 30px;
    width: 95%;
    font-size: 16px;
    font-weight: 500;
    border: 1.5px solid rgb(118, 118, 118);
}

#productForm textarea {
    height: 50px;
}

.imageUploader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 12px;
}

.imageUploadButton {
    display: flex;
    flex-direction: column;
    position: relative;
}

.uploadedImage {
    width: 120px;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: 100%;
}

.previewImageContainer {
    position: relative;
}

.cancelX {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    transform: translate(50%, -50%);
    cursor: pointer;
}

#productForm .btnSubmit {
    min-width: 150px;
    border-radius: 24px;
    height: 48px;
    background-color: var(--accent-color);
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    align-self: center;
    padding-inline: 12px;
}

#productForm textarea {
    resize: none;
    height: 100px;
}

.error {
    color: red;
    margin-block: 4px 12px;
    height: 22px;
    font-size: 14px;
}

.imageError {
    text-align: center;
}

.main {
    position: absolute;
    background-color: var(--accent-color);
    font-size: 16px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

@media screen and (min-width: 768px) {

    #productForm .fields {
        align-items: center;
    }

    #productForm .fields .field {
        display: flex;
        justify-content: flex-end;
        gap: 16px;
        width: 90%;
    }

    #productForm .field > div {
        flex-basis: 72%;
    }

    #productForm .btnImageUpload {
        width: 160px;
        min-height: 160px;
    }

    .uploadedImage {
        width: 160px;
    }

}