.productsContainer {
    display: grid;
    padding-bottom: 24px;
    padding-inline: 12px;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 100%;
    box-sizing: border-box;
    justify-items: center;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 12px;
    cursor: pointer;
    border-radius: 14px;
    min-width: 0;
    max-width: 280px;
    width: 100%;
    box-sizing: border-box;
}

.productCard div {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 12px;
    align-items: center;
}

.productTitle {
    font-size: 12px;
    font-weight: 500;
    margin-block: 12px 4px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.productPrice {
    margin-block: 4px;
    font-size: 16px;
    font-weight: 600;
}

.productMrp {
    text-decoration-line: line-through;
    color: rgb(139, 139, 163);
}

.productImage {
    width: 120px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.searchSummary {
    background-color: white;
    font-weight: 600;
    width: 90%;
    padding-inline: 16px;
}

.btnAddToCart {
    background-color: #FFD814;
    border: 0;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    margin-top: 12px;
}

.btnAddToCart:hover {
    background-color: #FFCE12;
}

.searchFilters {
    display: flex;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    top: 108px;
}

.sortBy, .filter {
    flex-basis: 50%;
}

.dropDownArrow {

}

.btnSort, .btnFilter {
    width: 100%;
    /* height: 100%; */
    background-color: white;
    border: 1px solid gray;
}

@media screen and (min-width: 768px) {
    
    .productsContainer {
        grid-template-columns: repeat(auto-fit, minmax(clamp(240px, 25vw, 220px), 1fr));
        gap: 24px;
        padding-inline: 48px;
    }

    .productTitle {
        font-size: 16px;
    }

    .productPrice {
        font-size: 20px;
    }
}
