@import url(global.css);

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: white;
}

main {
    margin: auto;
    /* background-color: var(--bg-color); */
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-title {
    font-weight: 500;
    font-size: 16px;
    margin: 12px 16px;
}

.product-price {
    font-weight: 600;
    font-size: 20px;
    margin: 8px 16px;
}

.product-image {
    width: 100%;
    max-height: 100%;
}

.product-actions {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
}

.btn-product-action {
    flex-basis: 50%;
    border: 0;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.btn-add-to-cart {
    background-color: #FFD814;
}

.btn-add-to-cart:hover {
    background-color: #FFCE12;
}

.btn-buy-now:hover {
    background-color: #FF8400;
}

.btn-buy-now {
    background-color: var(--accent-color);
}

.product-details .product-description {
    margin: 16px;
    font-size: 16px;
}

#toast {
    display: flex;
    position: fixed;
    bottom: 100px;
    left: 50%;
    width: fit-content;
    height: 24px;
    border-radius: 16px;
    background-color: gray;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 8px;
    visibility: hidden;
    transition: opacity .5s ease-in-out;
    opacity: 0;
}

#toast.show {
    visibility: visible;
    opacity: 1;
}

.product-image-container {
    display: flex;
    align-items: center;
}

.product-image {
    width: 100%;
}

@media screen and (min-width: 768px) {

    main {
        margin-top: 0;
    }

    .product-details {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
    }

    .product-details>div:first-child {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 75px;
        gap: 20px;
    }

    .product-details>div:nth-child(2) {
        padding-left: 16px;
        flex-basis: 60%;
    }

    .product-details>div {
        height: 100%;
    }

    .product-actions {
        position: static;
        max-width: 352px;
        justify-content: space-between;
        height: 50px;
    }

    .btn-product-action {
        flex-basis: 48%;
        height: 100%;
        font-size: 18px;
    }

    .product-price {
        font-size: 28px;
        font-weight: 700;
    }

    .product-title {
        font-size: 18px;
    }

    .product-image-container {
        width: 352px;
        height: 352px;
        border: 1px solid #f0f0f0;
    }

}