.sideMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    height: 100dvh;
    transform: translateX(-100%);
    background-color: white;
    z-index: 3;
    align-items: center;
    justify-content: center;
    width: 220px;
    transition: transform 0.3s ease-in-out;
}

.sideMenu.open {
    transform: translateX(0);
}

.navLinks {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.navLinks > a {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-inline-start: 20px;
}

.navLinks > a:hover {
    background-color: aliceblue;
}

.navLinks > a > img {
    height: 24px;
}

.btnClose {
    visibility: hidden;
    position: absolute;
    right: -20px;
    top: 20px;
}

.open .btnClose {
    visibility: visible;
}

.btnClose img {
    width: 32px;
}

@media screen and (min-width: 768px) {
    
    .sideMenu {
        position: sticky;
        transform: none;
        top: 0;
        flex-basis: 20%;
        box-shadow: 2px 0 4px rgba(0, 0, 0, .2);
    }

    .activeLink {
        background-color: lightblue;
    }

}

@media screen and (min-width: 1080px) {
    
    .sideMenu {
        flex-basis: 20%;
    }
}