@import url(global.css);

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    margin: auto;
}

main {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 80px;
    gap: 24px;
}

.address-preview {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 24px;
    background-color: white;
    gap: 16px;
}

#name {
    font-weight: 600;
}

#pincode {
    font-weight: 600;
}

#mobile-number {
    font-weight: 600;
}

#address-type {
    background-color: #f0f0f0;
    padding: 2px 6px;
    border-radius: 4px;
    color: gray;
    line-height: 1.8;
    margin-left: 6px;
}

.btn-change-address {
    color: #3206C3;
    border: 1px solid gray;
    background-color: inherit;
    padding: 8px;
}

.price-details {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
}

h2 {
    font-size: 16px;
    font-weight: 600;
}

.price-details > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.price-to-pay {
    font-size: 20px;
    margin: 0;
}

.total-amount {
    font-weight: 600;
}

button {
    cursor: pointer;
}

.checkout {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    height: 60px;
}

.btn-pay {
    background-color: var(--accent-color);
    border: 0;
    border-radius: 4px;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
    padding-inline: 12px;
}

.price-to-pay {
    font-size: 20px;
    margin: 0;
}

label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

input {
    margin: 0;
    width: 20px;
    height: 20px;
    /* accent-color: red; */
}

.payment-method {
    background-color: white;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}