@import url(global.css);

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 48px;
}

main {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-inline: auto;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    justify-content: center;
    background-color: #EFEEEE;
    height: fit-content;
    padding: 24px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
}

input {
    height: 30px;
    width: 95%;
    font-size: 16px;
    font-weight: 500;
}

input[type="radio"] {
    width: 18px;
    height: 18px;
}

input[type="radio"] + label {
   display: inline;
   margin-bottom: 0;
   font-weight: 500;
   font-size: 16px;
}

div {
    margin-block: 12px;
    width: 90%;
}

.btn-add-address {
    width: 80%;
    border-radius: 24px;
    height: 48px;
    background-color: var(--accent-color);
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    max-width: 480px;
}

.btn-add-address {
    border: none;
}

@media screen and (min-width: 768px) {
    
    form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: auto;
    }

    div {
        width: 40%;
    }

}