@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --accent-color: #FF9800;
    --bg-color: #EFEEEE;
}

.btn-profile {
    border-radius: 20px;
    width: fit-content;
    height: 40px;
    background-color: #FF9800;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    gap: 2px;
}

.logged-in .btn-profile {
    background-color: #D9D9D9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-inline: 20px;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 4px 1px gray;
}

header nav {
    display: none;
    position: absolute;
}

header div {
    display: flex;
    gap: 12px;
}

.cart {
    display: none;
    cursor: pointer;
}

.logged-in .cart {
    display: flex;
}

.hamburger {
    visibility: hidden;
    position: relative;
    cursor: pointer;
}

.logged-in .hamburger {
    visibility: visible;
}

.drop-down {
    display: none;
}

.logged-in .drop-down {
    display: inline-block;
}

.drop-down-menu {
    position: absolute;
    list-style-type: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    gap: 4px;
    right: 70px;
    top: 40px;
}

.drop-down-menu.show {
    display: flex;
}

.drop-down-menu li {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;
}

.drop-down-menu li:hover {
    background-color: #D9D9D9;
}

@media screen and (min-width: 768px) {
    
    header {
        padding-inline: 64px;
    }
}