@import url(global.css);

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    margin: auto;
}

main {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    min-height: 100vh;
    box-sizing: border-box;
    gap: 24px;
}

form {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-block: 24px
}

form input {
    border-radius: 24px 0 0 24px;
    flex-basis: 80%;
    padding: 12px;
    font-size: 20px;
}

form button {
    border-radius: 0 24px 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 20%;
    cursor: pointer;
    background-color: var(--accent-color);
    max-width: 128px;
    min-width: 64px;
}

.products-container {
    display: grid;
    padding-bottom: 24px;
    padding-inline: 48px;
    grid-template-columns: repeat(auto-fit, minmax(250px,280px));
    justify-content: center;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 12px;
    cursor: pointer;
    border-radius: 14px;
}

.product-title {
    font-size: 16px;
    font-weight: 500;
    margin-block: 12px 4px;
}

.product-price {
    margin-block: 4px;
    font-size: 20px;
}

.product-image {
    width: 120px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.search-summary {
    background-color: white;
    font-weight: 600;
    display: none;
    width: 90%;
    padding-inline: 16px;
}

.search-summary.open {
    display: block;
}

.btn-add-to-cart {
    background-color: #FFD814;
    border: 0;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    margin-top: 12px;
}

.btn-add-to-cart:hover {
    background-color: #FFCE12;
}

#toast {
    display: flex;
    position: fixed;
    bottom: 100px;
    margin-inline: auto;
    width: fit-content;
    height: 32px;
    border-radius: 16px;
    background-color: gray;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 8px;
    visibility: hidden;
    transition: opacity .5s ease-in-out;
    opacity: 0;
}

#toast.show {
    visibility: visible;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    
    .products-container {
        
    }
}